@import '../../styles/mixins.scss';
@import '../../styles/common.scss';
@import '../../styles/var.scss';
@import '../../styles/components.scss';

.blog {
    color: #fff;
    min-height: 100vh;
    @include background-gradient(#353232, #5293a7);

    &__nav {
        width: 100%;
        font-size: $font-size-navbar;
        background-color: #353232;

        &-inside {
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &--left {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
        }

        &--logo {
            font-size: $font-size-navbar-logo;
        }

        &--link {
            color: #fff;
        }

        &--elem {
            margin: 0 5rem;
            color: #fff;
        }

        &--right {
            display: flex;
            flex-direction: row;
            justify-content: right;
        }
    }

    &__content {
        margin: 0 auto;
        width: 50%;
        font-size: $font-size-text;
    }

    &__container {
        padding: 5rem 0;
    }
}