.widget-select {
  &__select {
    width: 100%;
    font-size: 2rem;
    border: 0;
    border-bottom: 1px black solid;
    background-color: transparent;
    border-top: 5px;
    outline: none;
    font-family: serif;
    padding-left: 3px;

    &:hover {
      cursor: pointer;
    }
  }

  &__loading {
    margin-top: 1rem;
    border-bottom: 1px solid black;
  }

}
