<div class="container">
  <div class="part part--1">
    <div class="part__quarter part__quarter--1">
      <span class="part__name part__name--1">blog</span>
    </div>
  </div>
  <div class="part part--2">
    <div class="part__quarter part__quarter--2">
      <span class="part__name part__name--2">photos</span>
    </div>
  </div>
  <div class="part part--3">
    <div class="part__quarter part__quarter--3">
      <span class="part__name part__name--3">forum</span>
    </div>
  </div>
  <div class="part part--4">
    <div class="part__quarter part__quarter--4">
      <span class="part__name part__name--4">movies</span>
    </div>
  </div>
</div>