@keyframes showTextPartial {
    0% {content: "Com"; color: rgb(243, 60, 60);}
    25% {content: "Commi"; color: rgb(165, 55, 55);}
    50% {content: "Comming"; color: rgb(49, 128, 25);}
    100% {content: "Comming soon"; color: rgb(25, 47, 117);}
  }

.photos {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#fff, rgb(231, 76, 223));

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15rem;
        content: "";
        display: block;
        color: red;
        text-align: center;
        animation: showTextPartial 2s linear infinite;
    }
}