.widget-select {
    width: 100%;
    font-size: 2rem;
    border: 0;
    border-bottom: 1px black solid;
    background-color: transparent;
    border-top: 5px;
    outline: none;
    font-family: serif;
    padding-left: 3px;

    &:hover {
      background-color: rgb(255, 255, 255);
    }
}
