@import '../../styles/animations.scss';

.dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 33, 33, 0.877);
    font-size: 2rem;

    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        -webkit-box-shadow: 2px 10px 17px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 10px 17px -4px rgba(0,0,0,0.75);
        box-shadow: 2px 10px 17px -4px rgba(0,0,0,0.75);
        border-radius: 0.7rem;
        border: rgb(172, 169, 165) 1px solid;
        padding: 2rem;
        animation-name: fadeIn;
        animation-duration: 0.8s;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.8s;
    }

    &__exit-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    &--show {
        display: block;
    }

    &__title {
        border-bottom: black 0.5px solid;
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}